/*
 * Variables Config for ekomi review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/
/* General Style */
/* breadcrumb navigation Variables */
/* Color for the box border Navigation */
/* Color for the box background Navigation */
/* Color for the outer part border of the navigation circle */
/* Color for the background outer part of the navigation circle */
/* Color for border main element */
/* Color for background main element*/
/* Color for background main element li if its active or done */
/* Color for font in navigation element */
/* Introduction element Variables */
/* Bold font in introduction text (title, footer span part) */
/* Color of the border in star container */
/* Shop Review star container Variables*/
/* Bold font in Star main question text */
/* Color of the border in star container */
/* Color of rating text /5 */
/* Color of selected Rating text 5 */
/* Shop Review Feedback container Variables*/
/* Bold font in Star main question text*/
/* Color of the border in feedback container */
/* Color of the textarea placeholder text */
/* Color of the textarea text */
/* Email Container Variables */
/* Color of border in email container */
/* Color of the title in email Container */
/* Exclamation mark color in email container */
/* color of label in email container */
/* color of input field in email container */
/* color of email help text */
/* Button Input Variables */
/* Color of the button */
/* Color of the button text */
/* Color of button border */
/* Radio Input Variables */
/* Color of main Question Text */
/* Color of answer label */
/* Color of border container of radio */
/* Product Container Variables */
/* Color of Product Article border */
/* Color of product Image border */
/* Color of product star border */
/*Color of product feedback border */
/* Color of product name */
/* Color of product Meta */
/* Color of star Rating Text */
/* Color of star Selected Rating Text */
/* Color of Feedback text */
/* Color of Feedback Placeholder text */
/* Color of Research Question text */
/* Color of Research Answer Text */
/* Footer Container Variables */
/* Config Variables (Really Important to include) */
/*
 * Mixins for ekomi review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/
/* Collection of mixins (Really Important to include) */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: "Roboto", sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: 700; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #fafafa;
  color: #0a0a0a; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: "Roboto", sans-serif;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
  text-transform: none; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    box-sizing: content-box;
    /* 2 */ }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }
  input[type="text"] {
    -webkit-appearance: none;
    border: 1px solid #dfdae0;
    border-radius: 0; }

textarea {
  border: 1px solid #dfdae0;
  -webkit-appearance: none;
  border-radius: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: 700; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px; }

/* Basic styling with Normalize.css 3.0.3 (Really Important to include) */
/*
 * Shop Logo element for ekomi Review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/
header {
  width: 100%;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  padding-left: 0.5em;
  padding-right: 0.5em; }
  header img {
    width: 100px;
    height: auto; }

/* Breadcrumb Navigation */
/*
 * breadcrumb navigation for review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/
.breadcrumbNav {
  display: none; }

@media (min-width: 768px) {
  .breadcrumbNav {
    width: 100%;
    max-width: 866px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    background-color: #fafafa;
    border: 1px solid #dfdae0;
    position: relative;
    z-index: -1001;
    min-height: 110px;
    padding-top: 13px;
    padding-bottom: 13px;
    box-sizing: border-box; }
    .breadcrumbNav ul {
      width: 100%;
      max-width: 588px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 16px;
      padding-left: 0;
      padding-right: 0;
      display: table;
      /* one item */
      /* two items */
      /* three items */
      /* four items */ }
      .breadcrumbNav ul li:first-child:nth-last-child(1) {
        width: 100%; }
      .breadcrumbNav ul li:first-child:nth-last-child(2),
      .breadcrumbNav ul li:first-child:nth-last-child(2) ~ li {
        width: 50%; }
      .breadcrumbNav ul li:first-child:nth-last-child(3),
      .breadcrumbNav ul li:first-child:nth-last-child(3) ~ li {
        width: 33.3333%; }
      .breadcrumbNav ul li:first-child:nth-last-child(4),
      .breadcrumbNav ul li:first-child:nth-last-child(4) ~ li {
        width: 25%; }
      .breadcrumbNav ul li {
        display: table-cell;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        color: #767676;
        position: relative; }
        .breadcrumbNav ul li .circleElement {
          width: 40px;
          height: 40px;
          background-color: #fafafa;
          border-width: 1px;
          border-style: solid;
          border-color: #dfdae0;
          text-align: center;
          line-height: 40px;
          border-radius: 3em;
          background-clip: padding-box;
          /* stops bg color from leaking outside the border: */
          position: relative; }
        .breadcrumbNav ul li:before {
          content: '';
          position: absolute;
          height: 13px;
          top: 12px;
          background-color: #fafafa;
          border-top-width: 1px;
          border-top-style: solid;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-color: #dfdae0;
          z-index: 1001; }
        .breadcrumbNav ul li.active {
          color: transparent; }
          .breadcrumbNav ul li.active .circleElement:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 14px;
            height: 14px;
            border: 8px solid #0a0a0a;
            border-radius: 14px;
            background-clip: padding-box;
            /* stops bg color from leaking outside the border: */
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
        .breadcrumbNav ul li.done {
          color: transparent; }
          .breadcrumbNav ul li.done .circleElement:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 28px;
            height: 28px;
            border: 1px solid #0a0a0a;
            border-radius: 14px;
            background-clip: padding-box;
            /* stops bg color from leaking outside the border: */
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background-color: #0a0a0a;
            background-image: url("../img/check.svg");
            background-repeat: no-repeat;
            background-position: center; }
        .breadcrumbNav ul li.done:after {
          content: '';
          position: absolute;
          top: 15px;
          height: 9px;
          background-color: #0a0a0a;
          z-index: 1002; }
    .breadcrumbNav .breadcrumbNavTextContainer {
      display: table;
      font-size: 18px;
      color: #0a0a0a;
      width: 100%;
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
      position: relative; }
      .breadcrumbNav .breadcrumbNavTextContainer .active {
        font-weight: 700; }
    .breadcrumbNav.two-items ul li:before {
      width: 510px;
      left: 40px; }
    .breadcrumbNav.two-items ul li:nth-of-type(1) .circleElement {
      margin-left: 0;
      margin-right: auto; }
    .breadcrumbNav.two-items ul li:nth-of-type(2) .circleElement {
      margin-left: auto;
      margin-right: 0; }
    .breadcrumbNav.two-items ul li:nth-of-type(2):before {
      display: none; }
    .breadcrumbNav.two-items ul li.done:nth-of-type(1):after {
      width: 520px;
      left: 34px; }
    .breadcrumbNav.two-items ul li.done:nth-of-type(2):after {
      display: none; }
    .breadcrumbNav.two-items .breadcrumbNavTextContainer .breadcrumbText:nth-child(1) {
      float: left; }
    .breadcrumbNav.two-items .breadcrumbNavTextContainer .breadcrumbText:nth-child(2) {
      float: right; }
    .breadcrumbNav.three-items ul li:before {
      width: 236px;
      left: 40px; }
    .breadcrumbNav.three-items ul li:nth-of-type(1) .circleElement {
      margin-left: 0;
      margin-right: auto; }
    .breadcrumbNav.three-items ul li:nth-of-type(2) .circleElement {
      margin-left: auto;
      margin-right: auto; }
    .breadcrumbNav.three-items ul li:nth-of-type(2):before {
      left: 116px; }
    .breadcrumbNav.three-items ul li:nth-of-type(3) .circleElement {
      margin-left: auto;
      margin-right: 0; }
    .breadcrumbNav.three-items ul li:nth-of-type(3):before {
      display: none; }
    .breadcrumbNav.three-items ul li.done:nth-of-type(1):after {
      width: 248px;
      left: 34px; }
    .breadcrumbNav.three-items ul li.done:nth-of-type(2):after {
      width: 248px;
      left: 109px; }
    .breadcrumbNav.three-items ul li.done:nth-of-type(3):after {
      display: none; }
    .breadcrumbNav.three-items .breadcrumbNavTextContainer .breadcrumbText {
      width: 33%;
      float: left; }
      .breadcrumbNav.three-items .breadcrumbNavTextContainer .breadcrumbText:nth-child(1) {
        text-align: left; }
      .breadcrumbNav.three-items .breadcrumbNavTextContainer .breadcrumbText:nth-child(2) {
        text-align: center; }
      .breadcrumbNav.three-items .breadcrumbNavTextContainer .breadcrumbText:nth-child(3) {
        text-align: right; } }
/* Breadcrumb Navigation */
/*
 * Introduction Text for review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/
.introductionText {
  width: 100%;
  max-width: 866px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #dfdae0;
  box-sizing: border-box; }
  .introductionText .introductionTextTitle {
    font-size: 1.125em;
    font-weight: 700;
    color: #0a0a0a; }
  .introductionText .introductionTextFooter span {
    font-weight: 700;
    color: #0a0a0a; }

/* Introduction Text */
/*
 * Star Container for shop review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/
.shopReviewStarContainer {
  display: table;
  width: 100%;
  max-width: 866px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #dfdae0;
  box-sizing: border-box; }
  .shopReviewStarContainer .starQuestionText {
    font-size: 1.125em;
    font-weight: 700;
    color: #0a0a0a; }

.starBoxContainer {
  display: table;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 1em;
  box-sizing: border-box;
  border: 1px solid #dfdae0; }
  .starBoxContainer div {
    display: table;
    width: 100%;
    text-align: center; }
  .starBoxContainer .starImageContainer {
    max-width: 227px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    position: relative; }
    .starBoxContainer .starImageContainer img {
      margin-right: 15px;
      cursor: pointer;
      width: 30px;
      height: 28px; }
      .starBoxContainer .starImageContainer img:nth-last-of-type(1) {
        margin-right: 0; }
    .starBoxContainer .starImageContainer input[type="radio"] {
      z-index: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0; }
    .starBoxContainer .starImageContainer label {
      display: inline-block;
      margin-right: 15px;
      cursor: pointer;
      width: 30px;
      height: 28px;
      background-image: url("../img/emptyStar.svg");
      background-size: contain;
      background-repeat: no-repeat; }
      .starBoxContainer .starImageContainer label:nth-last-of-type(1) {
        margin-right: 0; }
      .starBoxContainer .starImageContainer label.fillStar {
        background-image: url("../img/fullStar.svg"); }
  .starBoxContainer .ratingTextContainer {
    font-weight: 700;
    font-size: 1.875em;
    line-height: 33px;
    color: #0a0a0a; }
    .starBoxContainer .ratingTextContainer span {
      color: #0a0a0a; }

@media (min-width: 768px) {
  .starBoxContainer {
    padding-right: 13px;
    padding-left: 13px;
    max-width: 350px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; }
    .starBoxContainer > div {
      float: left; }
    .starBoxContainer .starImageContainer {
      margin-bottom: 0; }
    .starBoxContainer .ratingTextContainer {
      max-width: 50px;
      margin-left: 28px; }

  .starHelptext {
    width: 100%;
    max-width: 300px;
    margin: 0 auto; }

  .starContent {
    display: table;
    width: 100%; }
    .starContent.star-right .starBoxContainer {
      float: right; }
    .starContent.star-right .starHelptext {
      float: left; }
    .starContent.star-left .starBoxContainer {
      float: left; }
    .starContent.star-left .starHelptext {
      float: right; } }
@media (min-width: 960px) {
  .starHelptext {
    max-width: 454px; } }
/* Shop Review Star Container */
/*
 * Feedback Container for shop review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/
.shopReviewFeedbackContainer {
  display: table;
  width: 100%;
  max-width: 866px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #dfdae0;
  box-sizing: border-box; }
  .shopReviewFeedbackContainer .feedbackQuestionText {
    font-size: 1.125em;
    font-weight: 700;
    color: #0a0a0a;
    width: 100%; }
  .shopReviewFeedbackContainer .feedbackContent {
    display: table;
    width: 100%; }
    .shopReviewFeedbackContainer .feedbackContent .feedbackHelpText p {
      margin-top: 0; }
    .shopReviewFeedbackContainer .feedbackContent .feedbackContainer {
      display: block;
      width: 100%;
      min-height: 142px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 13px;
      padding-right: 13px;
      margin-bottom: 1em;
      border: 1px solid #dfdae0;
      font-family: inherit;
      color: #0a0a0a;
      font-weight: 400;
      font-size: 1em;
      line-height: 24px;
      outline: 0;
      background-color: #ffffff;
      resize: vertical;
      box-sizing: border-box;
      transition: border-color 0.3s, box-shadow 0.3s; }
      .shopReviewFeedbackContainer .feedbackContent .feedbackContainer:focus {
        border-color: #2DA137;
        box-shadow: 1px #2DA137; }
      .shopReviewFeedbackContainer .feedbackContent .feedbackContainer::-webkit-input-placeholder {
        color: #767676; }
      .shopReviewFeedbackContainer .feedbackContent .feedbackContainer::-moz-placeholder {
        color: #767676; }
      .shopReviewFeedbackContainer .feedbackContent .feedbackContainer::-ms-input-placeholder {
        color: #767676; }

@media (min-width: 768px) {
  .feedbackContent .feedbackContainer {
    max-width: 350px; }
  .feedbackContent .feedbackHelpText {
    max-width: 300px; }
  .feedbackContent.feedback-right .feedbackContainer {
    float: right; }
  .feedbackContent.feedback-right .feedbackHelpText {
    float: left; }
  .feedbackContent.feedback-left .feedbackContainer {
    float: left; }
  .feedbackContent.feedback-left .feedbackHelpText {
    float: right; } }
@media (min-width: 960px) {
  .feedbackContent .feedbackHelpText {
    max-width: 454px; } }
/* Shop Review Feedback Container */
/*
 * Email Container for shop review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/
.shopReviewEmailContainer {
  display: table;
  width: 100%;
  max-width: 866px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #2DA137;
  position: relative;
  box-sizing: border-box; }
  .shopReviewEmailContainer .emailMailTitle {
    font-size: 1.125em;
    font-weight: 700;
    color: #0a0a0a;
    position: absolute;
    top: -7%;
    left: 50%;
    display: table;
    box-sizing: border-box;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .shopReviewEmailContainer .emailMailTitle div {
      background-color: #ffffff;
      padding-left: 8px;
      padding-right: 8px;
      box-sizing: border-box; }
      .shopReviewEmailContainer .emailMailTitle div .exclamationMark {
        font-size: 1.5em;
        color: #2DA137;
        margin-left: 8px; }
  .shopReviewEmailContainer .emailContentContainer {
    width: 100%; }
    .shopReviewEmailContainer .emailContentContainer .emailInputContainer {
      width: 100%;
      display: table;
      margin-bottom: 8px; }
      .shopReviewEmailContainer .emailContentContainer .emailInputContainer label, .shopReviewEmailContainer .emailContentContainer .emailInputContainer .emailInput {
        display: block;
        width: 100%;
        box-sizing: border-box; }
      .shopReviewEmailContainer .emailContentContainer .emailInputContainer label {
        color: #0a0a0a;
        margin-bottom: 8px; }
      .shopReviewEmailContainer .emailContentContainer .emailInputContainer .emailInput {
        font-family: inherit;
        font-weight: 400;
        font-size: 1em;
        color: #0a0a0a;
        background-color: #ffffff;
        max-width: 392px;
        min-height: 33px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: left;
        transition: border-color 0.3s, box-shadow 0.3s; }
        .shopReviewEmailContainer .emailContentContainer .emailInputContainer .emailInput:focus {
          border-color: #2DA137;
          box-shadow: 1px #2DA137; }
    .shopReviewEmailContainer .emailContentContainer:nth-last-of-type(1) {
      margin-bottom: 0; }
    .shopReviewEmailContainer .emailContentContainer .emailHelpText {
      font-size: 0.875em;
      font-weight: 400;
      color: #767676; }

@media (min-width: 768px) {
  .shopReviewEmailContainer .emailContentContainer .emailInputContainer {
    margin-bottom: 26px; }
    .shopReviewEmailContainer .emailContentContainer .emailInputContainer label {
      max-width: calc(100% - 392px);
      line-height: 33px;
      float: left;
      margin-bottom: 0; }
    .shopReviewEmailContainer .emailContentContainer .emailInputContainer .emailInput {
      float: right; } }
/* Shop Review Email Container */
/*
 * Button Input for review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/
.buttonContainer {
  width: 100%;
  max-width: 866px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }
  .buttonContainer.button-left {
    text-align: left; }
  .buttonContainer.button-right {
    text-align: right; }
  .buttonContainer.button-center {
    text-align: center; }
  .buttonContainer button {
    font-family: inherit;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    color: #fafafa;
    border: 1px solid #2DA137;
    background-color: #2DA137;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 13px;
    padding-right: 13px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    transition: background-color 0.2s, box-shadow 0.2s; }
    .buttonContainer button:hover {
      background-color: #1FAD2B;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

/* Shop Review Email Container */
/*
 * Radio Input for review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/
.questionRadioContainer {
  width: 100%;
  max-width: 866px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #dfdae0;
  box-sizing: border-box; }
  .questionRadioContainer .questionTitle {
    width: 100%;
    font-size: 1.125em;
    font-weight: 700;
    color: #0a0a0a;
    margin-bottom: 1.5em; }
  .questionRadioContainer .questionContainer ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0; }
    .questionRadioContainer .questionContainer ul li {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 16px;
      position: relative; }
      .questionRadioContainer .questionContainer ul li:nth-last-of-type(1) {
        margin-bottom: 0; }
      .questionRadioContainer .questionContainer ul li input {
        position: absolute;
        z-index: -9999;
        top: 0px;
        left: 0px;
        opacity: 0; }
      .questionRadioContainer .questionContainer ul li label {
        display: table;
        cursor: pointer; }
        .questionRadioContainer .questionContainer ul li label .radioImage {
          width: 24px;
          height: 24px;
          background-image: url("../img/checkEmpty.svg");
          background-position: center;
          background-repeat: no-repeat;
          margin-right: 13px;
          float: left;
          transition: background .3s, opacity .3s, background-color .3s; }
        .questionRadioContainer .questionContainer ul li label .radioLabel {
          float: left;
          font-size: 1em;
          width: calc(100% - 37px);
          color: #0a0a0a; }
      .questionRadioContainer .questionContainer ul li input:checked + label .radioImage {
        background-image: url("../img/checkFull.png"); }

@media (min-width: 768px) {
  .questionRadioContainer .questionContainer ul {
    display: table;
    width: 100%; }
    .questionRadioContainer .questionContainer ul li {
      display: block;
      width: 33%;
      float: left; } }
/* Review Radio Container */
/*
 * Product Container
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/
.productContainer {
  display: table;
  width: 100%;
  max-width: 866px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #dfdae0;
  position: relative;
  box-sizing: border-box; }
  .productContainer .productTopContainer {
    margin-bottom: 34px; }
    .productContainer .productTopContainer .productImageContainer {
      margin-bottom: 1em; }
    .productContainer .productTopContainer .productRatingContainer .productDetailContainer, .productContainer .productTopContainer .productRatingContainer .productStarContainer, .productContainer .productTopContainer .productRatingContainer .productFeedbackContainer {
      margin-bottom: 1em; }

.productImageContainer {
  width: 100%;
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #dfdae0;
  position: relative; }
  .productImageContainer:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1 */ }
  .productImageContainer .productImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.productDetailContainer .productName {
  font-size: 1.1875em;
  font-weight: 700;
  color: #0a0a0a; }
.productDetailContainer .productOtherDetails {
  font-size: 0.9375em;
  font-weight: 700;
  color: #0a0a0a; }

.productStarContainer {
  display: table;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  border: 1px solid #dfdae0; }
  .productStarContainer .starImageContainer {
    max-width: 227px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative; }
    .productStarContainer .starImageContainer img {
      margin-right: 15px;
      cursor: pointer;
      width: 30px;
      height: 28px; }
      .productStarContainer .starImageContainer img:nth-last-of-type(1) {
        margin-right: 0; }
    .productStarContainer .starImageContainer input[type="radio"] {
      z-index: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0; }
    .productStarContainer .starImageContainer label {
      display: inline-block;
      margin-right: 15px;
      cursor: pointer;
      width: 30px;
      height: 28px;
      background-image: url("../img/emptyStar.svg");
      background-size: contain;
      background-repeat: no-repeat; }
      .productStarContainer .starImageContainer label:nth-last-of-type(1) {
        margin-right: 0; }
      .productStarContainer .starImageContainer label.fillStar {
        background-image: url("../img/fullStar.svg"); }
  .productStarContainer .ratingTextContainer {
    font-weight: 700;
    font-size: 1.875em;
    line-height: 33px;
    color: #0a0a0a;
    text-align: center; }
    .productStarContainer .ratingTextContainer span {
      color: #0a0a0a; }

.productFeedbackContainer {
  display: table;
  width: 100%; }
  .productFeedbackContainer .feedbackContainer {
    display: block;
    width: 100%;
    min-height: 142px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 13px;
    border: 1px solid #dfdae0;
    font-family: inherit;
    color: #0a0a0a;
    font-weight: 400;
    font-size: 1em;
    line-height: 24px;
    outline: 0;
    background-color: #ffffff;
    resize: vertical;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s; }
    .productFeedbackContainer .feedbackContainer:focus {
      border-color: #2DA137;
      box-shadow: 1px #2DA137; }
    .productFeedbackContainer .feedbackContainer::-webkit-input-placeholder {
      color: #767676; }
    .productFeedbackContainer .feedbackContainer::-moz-placeholder {
      color: #767676; }
    .productFeedbackContainer .feedbackContainer::-ms-input-placeholder {
      color: #767676; }

.productResearchContainer {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border: none; }
  .productResearchContainer .questionTitle {
    color: #0a0a0a; }
  .productResearchContainer .questionContainer ul li label .radioLabel {
    color: #0a0a0a; }

@media (min-width: 768px) {
  .productContainer .productTopContainer {
    display: table;
    width: 100%;
    position: relative; }
    .productContainer .productTopContainer .productImageContainer {
      float: left;
      margin-bottom: 0;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .productContainer .productTopContainer .productRatingContainer {
      float: right;
      width: 300px; }
      .productContainer .productTopContainer .productRatingContainer .productFeedbackContainer {
        margin-bottom: 0; } }
@media (min-width: 960px) {
  .productContainer .productTopContainer .productRatingContainer {
    float: right;
    width: 391px; }

  .productStarContainer {
    padding-right: 13px;
    padding-left: 13px; }
    .productStarContainer > div {
      display: table;
      width: 100%;
      text-align: center;
      float: left; }
    .productStarContainer .starImageContainer {
      margin-bottom: 0; }
    .productStarContainer .ratingTextContainer {
      max-width: 50px;
      margin-left: 28px; } }
/* Review Radio Container */
/*
 * Footer element for ekomi Review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/
footer {
  background-color: #dfdae0;
  width: 100%;
  margin-top: 3em; }
  footer .footerContainer {
    display: table;
    width: 100%;
    max-width: 866px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    box-sizing: border-box; }
    footer .footerContainer .footerContent {
      display: table;
      text-align: center;
      margin-left: auto;
      margin-right: auto; }
      footer .footerContainer .footerContent .footerLinkDivider {
        display: none;
        color: #0a0a0a; }
      footer .footerContainer .footerContent .footerLinks {
        margin-top: 0.75em; }
        footer .footerContainer .footerContent .footerLinks > a {
          color: #0a0a0a;
          text-decoration: none; }
          footer .footerContainer .footerContent .footerLinks > a:visited {
            color: #0a0a0a; }
          footer .footerContainer .footerContent .footerLinks > a:hover {
            text-decoration: underline; }
      footer .footerContainer .footerContent .footerTextPowered, footer .footerContainer .footerContent .footerEkomiImageContainer {
        display: table;
        float: left;
        line-height: 62px;
        margin-top: 1em;
        color: #0a0a0a; }
      footer .footerContainer .footerContent .footerTextPowered {
        margin-right: 10px; }

@media (min-width: 768px) {
  footer .footerContainer {
    padding-top: 1em; }
    footer .footerContainer .footerContent.left-side {
      float: left;
      display: table;
      width: 100%;
      max-width: calc(100% - 268px); }
    footer .footerContainer .footerContent.right-side {
      float: right; }
    footer .footerContainer .footerContent .footerTextPowered, footer .footerContainer .footerContent .footerEkomiImageContainer {
      margin-top: 0; }
    footer .footerContainer .footerContent .footerLinkDivider, footer .footerContainer .footerContent .footerLinks {
      margin-top: 1.2em; }
    footer .footerContainer .footerContent .footerLinkDivider {
      display: table;
      float: left;
      margin-left: 0.4em;
      margin-right: 0.4em; }
    footer .footerContainer .footerContent .footerLinks {
      float: left;
      display: table; } }
/* Footer Container */
body {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-bottom: 1em; }

/*# sourceMappingURL=main.css.map */