/*
 * breadcrumb navigation for review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/

.breadcrumbNav {
  display: none;
}

@media (min-width: 768px) {
  .breadcrumbNav {
    width: 100%;
    max-width: 866px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    background-color: $navigationBackgroundColor;
    border: 1px solid $navigationBorderColor;
    position: relative;
    z-index: -1001;
    min-height: 110px;
    padding-top: 13px;
    padding-bottom: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    ul {
      width: 100%;
      max-width: 588px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 16px;
      padding-left: 0;
      padding-right: 0;
      display: table;

      /* one item */
      li:first-child:nth-last-child(1) {
        width: 100%;
      }

      /* two items */
      li:first-child:nth-last-child(2),
      li:first-child:nth-last-child(2) ~ li {
        width: 50%;
      }

      /* three items */
      li:first-child:nth-last-child(3),
      li:first-child:nth-last-child(3) ~ li {
        width: 33.3333%;
      }

      /* four items */
      li:first-child:nth-last-child(4),
      li:first-child:nth-last-child(4) ~ li {
        width: 25%;
      }

      li {
        display: table-cell;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        color: $navigationFontColor;
        position: relative;

        .circleElement {
          width: $innerSize;
          height: $innerSize;
          background-color: $navigationOuterBackgroundColor;
          border-width: 1px;
          border-style: solid;
          border-color: $navigationOuterBorderColor;
          text-align: center;
          line-height: $innerSize;
          @include border-radius(3em);
          position: relative;
        }

        &:before {
          content: '';
          position: absolute;
          height: 13px;
          top: 12px;
          background-color: $navigationOuterBackgroundColor;
          border-top-width: 1px;
          border-top-style: solid;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-color: $navigationOuterBorderColor;
          z-index: 1001;
        }

        &.active {
          color: transparent;

          .circleElement {

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: $innerSizeCircle;
              height: $innerSizeCircle;
              border: 8px solid $navigationInnerActiveColor;
              @include border-radius($innerSizeCircle);
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
            }
          }
        }

        &.done {
          color: transparent;

          .circleElement {

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: $innerSizeCircleDone;
              height: $innerSizeCircleDone;
              border: 1px solid $navigationInnerActiveColor;
              @include border-radius($innerSizeCircle);
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              background-color: $navigationInnerActiveColor;
              background-image: url('../img/check.svg');
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }

        &.done {

          &:after {
            content: '';
            position: absolute;
            top: 15px;
            height: 9px;
            background-color: $navigationInnerActiveColor;
            z-index: 1002;
          }
        }
      }
    }

    .breadcrumbNavTextContainer {
      display: table;
      font-size: 18px;
      color: $breadCrumbTextColor;
      width: 100%;
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
      position: relative;

      .active {
        @include bolder-font;
      }
    }

    &.two-items {
      ul {
        li {

          &:before {
            width: 510px;
            left: 40px;
          }

          &:nth-of-type(1) {
            .circleElement {
              margin-left: 0;
              margin-right: auto;
            }
          }

          &:nth-of-type(2) {
            .circleElement {
              margin-left: auto;
              margin-right: 0;
            }

            &:before {
              display: none;
            }
          }

          &.done {

            &:nth-of-type(1) {

              &:after {
                width: 520px;
                left: 34px;
              }
            }

            &:nth-of-type(2) {

              &:after {
                display: none;
              }
            }
          }
        }
      }

      .breadcrumbNavTextContainer {
        .breadcrumbText {

          &:nth-child(1) {
            float: left;
          }

          &:nth-child(2) {
            float: right;
          }
        }
      }
    }

    &.three-items {
      ul {
        li {
          &:before {
            width: 236px;
            left: 40px;
          }

          &:nth-of-type(1) {
            .circleElement {
              margin-left: 0;
              margin-right: auto;
            }
          }

          &:nth-of-type(2) {
            .circleElement {
              margin-left: auto;
              margin-right: auto;
            }

            &:before {
              left: 116px;
            }
          }

          &:nth-of-type(3) {
            .circleElement {
              margin-left: auto;
              margin-right: 0;
            }

            &:before {
              display: none;
            }
          }

          &.done {

            &:nth-of-type(1) {

              &:after {
                width: 248px;
                left: 34px;
              }
            }

            &:nth-of-type(2) {

              &:after {
                width: 248px;
                left: 109px;
              }
            }

            &:nth-of-type(3) {

              &:after {
                display: none;
              }
            }
          }
        }
      }

      .breadcrumbNavTextContainer {
        .breadcrumbText {
          width: 33%;
          float: left;

          &:nth-child(1) {
            text-align: left;
          }

          &:nth-child(2) {
            text-align: center;
          }

          &:nth-child(3) {
            text-align: right;
          }
        }
      }
    }
  }
}