/*
 * Button Input for review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/

.buttonContainer {
  width: 100%;
  max-width: 866px;
  margin-left: auto;
  margin-right: auto;
  @include box-sizing(border-box);

  &.button-left {
    text-align: left;
  }

  &.button-right {
    text-align: right;
  }

  &.button-center {
    text-align: center;
  }

  button {
    font-family: inherit;
    font-size: 1em;
    @include bolder-font;
    text-align: center;
    color: $buttonTextColor;
    border: 1px solid $buttonBorderColor;
    background-color: $buttonColor;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 13px;
    padding-right: 13px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    @include box-sizing(border-box);
    @include transition(background-color .2s, box-shadow .2s);

    &:hover {
      background-color: $buttonHoverColor;
      box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    }
  }
}