/*
 * Footer element for ekomi Review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/

footer {
  background-color: $footerBackgroundColor;
  width: 100%;
  margin-top: 3em;

  .footerContainer {
    display: table;
    width: 100%;
    max-width: 866px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    @include box-sizing(border-box);

    .footerContent {
      display: table;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      .footerLinkDivider {
        display: none;
        color: $footerLinkTDividerColor;
      }

      .footerLinks {
        margin-top: 0.75em;

        > a {
          color: $footerLinkTextColor;
          text-decoration: none;

          &:visited {
            color: $footerLinkTextColor;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .footerTextPowered, .footerEkomiImageContainer {
        display: table;
        float: left;
        line-height: 62px;
        margin-top: 1em;
        color: $footerPoweredTextColor;
      }
      .footerTextPowered {
        margin-right: 10px;
      }
    }
  }
}

@media (min-width: 768px) {
  footer {

    .footerContainer {
      padding-top: 1em;

      .footerContent {

        &.left-side {
          float: left;
          display: table;
          width: 100%;
          @include calc(max-width, "100% - 268px");
        }

        &.right-side {
          float: right;
        }

        .footerTextPowered, .footerEkomiImageContainer {
          margin-top: 0;
        }

        .footerLinkDivider, .footerLinks {
          margin-top: 1.2em;
        }

        .footerLinkDivider {
          display: table;
          float: left;
          margin-left: 0.4em;
          margin-right: 0.4em;
        }

        .footerLinks {
          float: left;
          display: table;
        }
      }
    }
  }
}