/*
 * Radio Input for review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/

.questionRadioContainer {
  width: 100%;
  max-width: 866px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $radioContainerBorderColor;
  @include box-sizing(border-box);

  .questionTitle {
    width: 100%;
    font-size: 1.125em;
    @include bolder-font;
    color: $mainQuestionTextColor;
    margin-bottom: 1.5em;
  }

  .questionContainer {

    ul {
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;

      li {
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 16px;
        position: relative;

        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }

        input {
          position: absolute;
          z-index: -9999;
          top: 0px;
          left: 0px;
          opacity: 0;
        }

        label {
          display: table;
          cursor: pointer;

          .radioImage {
            width: 24px;
            height: 24px;
            background-image: url('../img/checkEmpty.svg');
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 13px;
            float: left;
            transition: background .3s, opacity .3s, background-color .3s;
          }

          .radioLabel {
            float: left;
            font-size: 1em;
            @include calc(width, "100% - 37px");
            color: $answerLabelTextColor;
          }
        }

        input:checked + label {
          .radioImage {
            background-image: url('../img/checkFull.png');
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .questionRadioContainer {

    .questionContainer {

      ul {
        display: table;
        width: 100%;

        li {
          display: block;
          width: 33%;
          float: left;
        }
      }
    }
  }
}