/*
 * Introduction Text for review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/

.introductionText {
  width: 100%;
  max-width: 866px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $introductionContainerBorderColor;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .introductionTextTitle {
    font-size: 1.125em;
    @include bolder-font;
    color: $introductionBoldFont;
  }

  .introductionTextFooter {
    span {
      @include bolder-font;
      color: $introductionBoldFont;
    }
  }
}