/*
 * Shop Logo element for ekomi Review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/

header {
  width: 100%;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  padding-left: 0.5em;
  padding-right: 0.5em;

  img {
    width: 100px;
    height: auto;
  }
}