/*
 * Product Container
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/

.productContainer {
  display: table;
  width: 100%;
  max-width: 866px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $productArticleBorderColor;
  position: relative;
  @include box-sizing(border-box);

  .productTopContainer {
    margin-bottom: 34px;

    .productImageContainer {
      margin-bottom: 1em;
    }

    .productRatingContainer {

      .productDetailContainer, .productStarContainer, .productFeedbackContainer {
        margin-bottom: 1em;
      }
    }
  }
}

.productImageContainer {
  width: 100%;
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $productImageBorderColor;
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1 */
  }

  .productImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.productDetailContainer {

  .productName {
    font-size: 1.1875em;
    @include bolder-font;
    color: $productNameColor;
  }

  .productOtherDetails {
    font-size: 0.9375em;
    @include bolder-font;
    color: $productMetaColor;
  }
}

.productStarContainer {
  display: table;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 8px;
  padding-right: 8px;
  @include box-sizing(border-box);
  border: 1px solid $starContainerBorderColor;

  .starImageContainer {
    max-width: 227px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;

    img {
      margin-right: 15px;
      cursor: pointer;
      width: 30px;
      height: 28px;

      &:nth-last-of-type(1) {
        margin-right: 0;
      }
    }

    input[type="radio"] {
      z-index: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    label {
      display: inline-block;
      margin-right: 15px;
      cursor: pointer;
      width: 30px;
      height: 28px;
      background-image: url('../img/emptyStar.svg');
      background-size: contain;
      background-repeat: no-repeat;

      &:nth-last-of-type(1) {
        margin-right: 0;
      }

      &.fillStar {
        background-image: url('../img/fullStar.svg');
      }
    }
  }

  .ratingTextContainer {
    @include bolder-font;
    font-size: 1.875em;
    line-height: 33px;
    color: $productStarRatingColor;
    text-align: center;

    span {
      color: $productStarSelectedRatingColor;
    }
  }
}

.productFeedbackContainer {
  display: table;
  width: 100%;

  .feedbackContainer {
    display: block;
    width: 100%;
    min-height: 142px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 13px;
    border: 1px solid $productFeedbackBorderColor;
    font-family: inherit;
    color: $productFeedbackTextColor;
    font-weight: 400;
    font-size: 1em;
    line-height: 24px;
    outline: 0;
    background-color: #ffffff;
    resize: vertical;
    @include box-sizing(border-box);
    @include transition(border-color .3s, box-shadow .3s);

    &:focus {
      border-color: $ekomiGreen;
      box-shadow: 1px $ekomiGreen;
    }

    &::-webkit-input-placeholder {
      color: $productFeedbackPlaceholderColor;
    }

    &::-moz-placeholder {
      color: $productFeedbackPlaceholderColor;
    }

    &::-ms-input-placeholder {
      color: $productFeedbackPlaceholderColor;
    }
  }
}

.productResearchContainer {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;

  .questionTitle {
    color: $productResearchQuestionColor;
  }

  .questionContainer {
    ul {

      li {

        label {

          .radioLabel {
            color: $productResearchAnswerColor;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .productContainer {

    .productTopContainer {
      display: table;
      width: 100%;
      position: relative;

      .productImageContainer {
        float: left;
        margin-bottom: 0;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      .productRatingContainer {
        float: right;
        width: 300px;

        .productFeedbackContainer {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 960px) {
  .productContainer {

    .productTopContainer {

      .productRatingContainer {
        float: right;
        width: 391px;
      }
    }
  }

  .productStarContainer {
    padding-right: 13px;
    padding-left: 13px;

    & > div {
      display: table;
      width: 100%;
      text-align: center;
      float: left;
    }

    .starImageContainer {
      margin-bottom: 0;
    }

    .ratingTextContainer {
      max-width: 50px;
      margin-left: 28px;
    }
  }
}