/*
 * Email Container for shop review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/

.shopReviewEmailContainer {
  display: table;
  width: 100%;
  max-width: 866px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $emailContainerBorderColor;
  position: relative;
  @include box-sizing(border-box);

  .emailMailTitle {
    font-size: 1.125em;
    @include bolder-font;
    color: $emailTitleColor;
    position: absolute;
    top: -7%;
    left: 50%;
    display: table;
    @include box-sizing(border-box);
    @include transform(translateX(-50%));

    div {
      background-color: #ffffff;
      padding-left: 8px;
      padding-right: 8px;
      @include box-sizing(border-box);

      .exclamationMark {
        font-size: 1.5em;
        color: $emailTitleExclamationColor;
        margin-left: 8px;
      }
    }
  }

  .emailContentContainer {
    width: 100%;

    .emailInputContainer {
      width: 100%;
      display: table;
      margin-bottom: 8px;

      label, .emailInput {
        display: block;
        width: 100%;
        @include box-sizing(border-box);
      }

      label {
        color: $emailLabelColor;
        margin-bottom: 8px;
      }

      .emailInput {
        font-family: inherit;
        font-weight: 400;
        font-size: 1em;
        color: $emailInputColor;
        background-color: #ffffff;
        max-width: 392px;
        min-height: 33px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: left;
        @include transition(border-color .3s, box-shadow .3s);

        &:focus {
          border-color: $ekomiGreen;
          box-shadow: 1px $ekomiGreen;
        }
      }
    }

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    .emailHelpText {
      font-size: 0.875em;
      font-weight: 400;
      color: $emailHelpTextColor;
    }
  }
}

@media (min-width: 768px) {
  .shopReviewEmailContainer {

    .emailContentContainer {

      .emailInputContainer {
        margin-bottom: 26px;

        label {
          @include calc(max-width, "100% - 392px");
          line-height: 33px;
          float: left;
          margin-bottom: 0;
        }
        .emailInput {
          float: right;
        }
      }
    }
  }
}