/*
 * Feedback Container for shop review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/

.shopReviewFeedbackContainer {
  display: table;
  width: 100%;
  max-width: 866px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $feedbackContainerBorderColor;
  @include box-sizing(border-box);

  .feedbackQuestionText {
    font-size: 1.125em;
    @include bolder-font;
    color: $feedbackTitleFontColor;
    width: 100%;
  }
  .feedbackContent {
    display: table;
    width: 100%;

    .feedbackHelpText {

      p {
        margin-top: 0;
      }
    }

    .feedbackContainer {
      display: block;
      width: 100%;
      min-height: 142px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 13px;
      padding-right: 13px;
      margin-bottom: 1em;
      border: 1px solid $feedbackContainerBorderColor;
      font-family: inherit;
      color: $feedbackTextareaTextColor;
      font-weight: 400;
      font-size: 1em;
      line-height: 24px;
      outline: 0;
      background-color: #ffffff;
      resize: vertical;
      @include box-sizing(border-box);
      @include transition(border-color .3s, box-shadow .3s);

      &:focus {
        border-color: $ekomiGreen;
        box-shadow: 1px $ekomiGreen;
      }

      &::-webkit-input-placeholder {
        color: $feedbackTextareaPlaceholderColor;
      }

      &::-moz-placeholder {
        color: $feedbackTextareaPlaceholderColor;
      }

      &::-ms-input-placeholder {
        color: $feedbackTextareaPlaceholderColor;
      }
    }
  }
}

@media (min-width: 768px) {
  .feedbackContent {
    .feedbackContainer {
      max-width: 350px;
    }

    .feedbackHelpText {
      max-width: 300px;
    }

    &.feedback-right {

      .feedbackContainer {
        float: right;
      }

      .feedbackHelpText {
        float: left;
      }
    }

    &.feedback-left {

      .feedbackContainer {
        float: left;
      }

      .feedbackHelpText {
        float: right;
      }
    }
  }
}

@media (min-width: 960px) {
  .feedbackContent {

    .feedbackHelpText {
      max-width: 454px;
    }
  }
}