/*
 * Variables Config for ekomi review form
 * By: hwijaya@ekomi.de
 * version 1.0.0
*/

/* General Style */
$mainTextColor: #0a0a0a;
$mainPlaceHolderTextColor: #767676;
$mainBorderColor: #dfdae0;
$mainWhiteColor: #fafafa;
$ekomiGreen: #2DA137;
$ekomiBrighterGreen: #1FAD2B;
$fontFamily: 'Roboto', sans-serif;
$baseFontSize: 16px;
$baseLineHeight: 24px;

/* breadcrumb navigation Variables */
$navigationBorderColor: $mainBorderColor; /* Color for the box border Navigation */
$navigationBackgroundColor: $mainWhiteColor; /* Color for the box background Navigation */
$navigationOuterBorderColor: $mainBorderColor; /* Color for the outer part border of the navigation circle */
$navigationOuterBackgroundColor: $mainWhiteColor; /* Color for the background outer part of the navigation circle */
$navigationInnerBorderColor: $mainBorderColor; /* Color for border main element */
$navigationInnerBackgroundColor: $mainWhiteColor; /* Color for background main element*/
$navigationInnerActiveColor: $mainTextColor; /* Color for background main element li if its active or done */
$navigationFontColor: $mainPlaceHolderTextColor; /* Color for font in navigation element */
$innerSize: 40px;
$innerSizeCircleDone: 28px;
$innerSizeCircle: 14px;
$breadCrumbTextColor: $mainTextColor;
$breadCrumbTextColorActive: $mainTextColor;

/* Introduction element Variables */
$introductionBoldFont: $mainTextColor; /* Bold font in introduction text (title, footer span part) */
$introductionContainerBorderColor: $mainBorderColor; /* Color of the border in star container */

/* Shop Review star container Variables*/
$starTitleFontColor: $mainTextColor; /* Bold font in Star main question text */
$starContainerBorderColor: $mainBorderColor; /* Color of the border in star container */
$starRatingColor: $mainTextColor; /* Color of rating text /5 */
$starRatingColorBold: $mainTextColor; /* Color of selected Rating text 5 */

/* Shop Review Feedback container Variables*/
$feedbackTitleFontColor: $mainTextColor; /* Bold font in Star main question text*/
$feedbackContainerBorderColor: $mainBorderColor; /* Color of the border in feedback container */
$feedbackTextareaPlaceholderColor: $mainPlaceHolderTextColor; /* Color of the textarea placeholder text */
$feedbackTextareaTextColor: $mainTextColor; /* Color of the textarea text */

/* Email Container Variables */
$emailContainerBorderColor: $ekomiGreen; /* Color of border in email container */
$emailTitleColor: $mainTextColor; /* Color of the title in email Container */
$emailTitleExclamationColor: $ekomiGreen; /* Exclamation mark color in email container */
$emailLabelColor: $mainTextColor; /* color of label in email container */
$emailInputColor: $mainTextColor; /* color of input field in email container */
$emailHelpTextColor: $mainPlaceHolderTextColor; /* color of email help text */

/* Button Input Variables */
$buttonColor: $ekomiGreen; /* Color of the button */
$buttonHoverColor: $ekomiBrighterGreen;
$buttonTextColor: $mainWhiteColor; /* Color of the button text */
$buttonBorderColor: $ekomiGreen; /* Color of button border */

/* Radio Input Variables */
$mainQuestionTextColor: $mainTextColor; /* Color of main Question Text */
$answerLabelTextColor: $mainTextColor; /* Color of answer label */
$radioContainerBorderColor: $mainBorderColor; /* Color of border container of radio */

/* Product Container Variables */
$productArticleBorderColor: $mainBorderColor; /* Color of Product Article border */
$productImageBorderColor: $mainBorderColor; /* Color of product Image border */
$productStarBorderColor: $mainBorderColor; /* Color of product star border */
$productFeedbackBorderColor: $mainBorderColor; /*Color of product feedback border */
$productNameColor: $mainTextColor; /* Color of product name */
$productMetaColor: $mainTextColor; /* Color of product Meta */
$productStarRatingColor: $mainTextColor; /* Color of star Rating Text */
$productStarSelectedRatingColor: $mainTextColor; /* Color of star Selected Rating Text */
$productFeedbackTextColor: $mainTextColor; /* Color of Feedback text */
$productFeedbackPlaceholderColor: $mainPlaceHolderTextColor; /* Color of Feedback Placeholder text */
$productResearchQuestionColor: $mainTextColor; /* Color of Research Question text */
$productResearchAnswerColor: $mainTextColor; /* Color of Research Answer Text */

/* Footer Container Variables */
$footerBackgroundColor: $mainBorderColor;
$footerLinkTextColor: $mainTextColor;
$footerLinkTDividerColor: $mainTextColor;
$footerPoweredTextColor: $mainTextColor;