@import "variables.scss"; /* Config Variables (Really Important to include) */
@import "mixins.scss"; /* Collection of mixins (Really Important to include) */
@import "base.scss"; /* Basic styling with Normalize.css 3.0.3 (Really Important to include) */
@import "logo.scss"; /* Breadcrumb Navigation */
@import "breadcrumbNav.scss"; /* Breadcrumb Navigation */
@import "introductionText.scss"; /* Introduction Text */
@import "sr-starContainer.scss"; /* Shop Review Star Container */
@import "sr-feedbackContainer.scss"; /* Shop Review Feedback Container */
@import "sr-emailContainer.scss"; /* Shop Review Email Container */
@import "buttonInput.scss"; /* Shop Review Email Container */
@import "input-radio.scss"; /* Review Radio Container */
@import "productContainer.scss"; /* Review Radio Container */
@import "footer.scss"; /* Footer Container */

body {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-bottom: 1em;
}